@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    width: 80%;
    margin: 0 auto;
	padding-top: 40px;
	user-select: none;
}

footer {
	padding: 40px 10vw 40px 10vw;
}

#__nuxt {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
